body {
    background-color:rgb(30, 30, 30);
    color: rgb(220, 220, 220);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin : 0px;
    

    
}
main {
    margin-bottom: 40px;
    padding: 10px;

}
header {
    margin-bottom: 30px;
    padding: 20px;
    background: rgb(23, 212, 190);
    color: rgb(30, 30, 30);

}
footer {
    margin-top: 20px;
    padding: 10px;
    background: rgba(31, 252, 227, 0.7);
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(30, 30, 30);
}
.error {
    color: #9e1212;

}

.block1 {
    position: fixed;
    width: auto;
    height: auto;
    left: 114px;
    top: 140px;
    font-size: 21px
}
.block2 {
    position: fixed;
    width: auto;
    height: auto;
    left: 390px;
    top: 140px;
    font-size: 21px
}
.block3 {
    position: fixed;
    width: auto;
    height: auto;
    left: 514px;
    top: 140px;
    font-size: 21px
}
.block4 {
    position: fixed;
    width: auto;
    height: auto;
    left: 214px;
    top: 140px;
    font-size: 21px
}
.block5 {
    position: fixed;
    width: auto;
    height: auto;
    left: 714px;
    top: 140px;
    font-size: 21px
}